### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [9]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)
print(f"test 1 and test 2 is same value: {test1 == test2}")

This is a test of the emergency text system,
test 1 and test 2 is same value: True

### 3. Create a CSV file called books.csv by using these lines: 
title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 <br>Perdido Street Station,China Miéville,2000<br> Thud!,Terry Pratchett,2005 <br>The Spellman Files,Lisa Lutz,2007 <br>Small Gods,Terry Pratchett,1992<br>

In [26]:
string = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(string)
    file.close()

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [57]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS books")
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

### 5. Read books.csv and insert its data into the book table.

In [58]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
book_table = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        book_table.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [59]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [61]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [62]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [84]:
! python -m pip install redis

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: redis in c:\users\mahmud\appdata\roaming\python\python39\site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\mahmud\appdata\roaming\python\python39\site-packages (from redis) (4.0.2)

In [110]:
# To get the result we need to intiate redis server
import redis

conn = redis.Redis(host='localhost', port=6379)
conn.hset('test', 'count', str(1))
conn.hset('test', 'name', 'Fester Bestertester')
result = conn.hgetall('test')
conn.delete('test')
print(result)

{b'count': b'1', b'name': b'Fester Bestertester'}

### 10. Increment the count field of test and print it.

In [115]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'6'